.field{
    margin-bottom: 20px;
}

.field label{
    display: block;
    color: #222;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;

}

.field input{
    background-color: white;
    border: 1px solid rgb(34, 34, 34, 0.15);
    border-radius: 20px;
    color: #222;
    font-size: 20px;
    outline: 0;
    padding: 10px 15px;
    width: 100%;
}